/**********************
*     Basic setup     *
***********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    text-align: -webkit-match-parent;

}

html {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
/******************************
*     Resuable Components     *
*******************************/
.row {
    max-width: 1140px;
    margin: 0 auto;
}
header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0,0.7)), url(../images/london-barbers-ruffian.jpg);
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/london-barbers-ruffian.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}
/* Top Bar */
.top-bar {
  height: 60px;
  background-color: transparent;
  overflow: hidden;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.top-bar .top--contact li {
  margin-right: 19px;
  display: inline-block;
  padding-right: 19px;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.top-bar .top--contact li:last-child {
  margin-right: 0;
  border-right: none;
  padding-right: 0;
}
.top-bar .top--contact {
  font-family: 'Open Sans', sans-serif;
  line-height: 60px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
}
.top-bar .top--contact i {
  margin-right: 11px;
}
.top-bar .top--login {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 60px;
  padding-right: 20px;
}
.top-bar .top--login i {
  margin-right: 10px;
}
.top-bar .top--login a {
  color: #ffffff;
}
.top-bar .top--login a:hover {
  color: #bb8c4b;
}
.top-bar .top--social a {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.top-bar .top--social a:last-of-type {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.top-bar .top--social a {
  display: inline-block;
  width: 48px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 60px;
}
.top-bar .top--social a:hover {
  color: #ffffff;
}

/**********************
*       Navbar        *
***********************/
nav {
  position: -webkit-sticky;

}


.sticky2 {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 100;
  background: #000;
}

nav ul {
  line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}
.navbar-header {
  float: none !important;
  margin-right: auto;
  text-align: center;
  display: inline-block;
  padding: 20px
}
.navbar-header a{
  color:white;
  text-decoration: none;
}
.logo {
    color: #ffffff;
    letter-spacing: 2px;
}

.main-nav {
    margin:0;
    list-style: none;
}

.main-nav li {
    display: inline-block;
    padding:20px;
}

.main-nav li a {
    color: #000;
    text-decoration: none;
    font-size: 90%;

}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: #ffffff;
    text-decoration: none;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}

.hero-main{
  position: absolute;
  top: 40%;
  left: 28%;
  font-family: 'Playfair Display', serif;  color:#ffffff;
  text-align: center;
  word-spacing: 2px;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.hero-item {
  text-align: center;
}
.img-title {
  grid-column: 1 /7;
}
.img-footer {
  grid-column: 1 /7;
}
.img-button1{
  grid-column: 1 / 4;
  text-align: right;
}
.img-button2{
  text-align: left;
  grid-column: 4 / 7;
}


.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
}



/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/
.btn {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 2;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  padding: 0;
  line-height: 43px;
  width: 150px;
  height: 45px;
  letter-spacing: 0.26px;
  border-radius:  50px
}


.btn--secondary {
  background-color: white;
  color: black;
  border: 1px solid transparent;
}
.btn--secondary:hover {
  background-color: #bb8c4b;
  color: #ffffff;
  border: 1px solid transparent;
}

.btn--white {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #bb8c4b;
}
.btn--white:hover {
  background-color: #bb8c4b;
  color: #ffffff;
  border: 1px solid transparent;
}
.appointment{
  background-color: #bb8c4b;
  color: #ffffff;
  border: 1px solid transparent;
}
.main-butttons{
  text-align: center;
}

.hero-button{
  margin-top:10px;
  margin-right:10px;
}

/**Content**/
.content {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}


nav.black {
    background: #000;
    color:white !important;
}




@media only screen and (min-width: 320px) and (max-width: 767px) {

  nav ul {
        max-height: 0px;
        background: #000;
  }
 

  nav.black ul {
        background: #000;
  }

  .showing {
        max-height: 34em;
  }

  nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
  }

  .menu-icon {
        display: block;
  }
  .bookbtn a {
    position: relative;
    right:77px;
  }
  .hero-main{
    position: absolute;
    top:40%;
    font-family: 'Playfair Display', serif;  color:#ffffff;
    text-align: center;
    word-spacing: 2px;

  }

}
